
<div>

	<div class="userInfo" id="usernameDiv">
		<h2 id="username">Edit User: {{ usersList[selectedUser].firstName }}</h2>
	</div>

	<div class="userInfo">
		<div id="listInfo">
			
			<form name="editForm">
				<p class="userData">First Name: <input name="fnameIn" placeholder= "{{ usersList[selectedUser].firstName }}" ng-model="changedUser.firstName" required></input></p>

				<p class="userData">Last Name: <input name="lnameIn" placeholder= "{{ usersList[selectedUser].lastName }}" ng-model="changedUser.lastName" required></input></p>
				
				<p style="margin-left:46px;" class="userData">Phone: <input name="phoneIn" type="tel" pattern="^\d{3}-\d{3}-\d{4}$" placeholder= "{{ usersList[selectedUser].phone }}" ng-model="changedUser.phone" required="required"></input> *Format: XXX-XXX-XXXX</p>

				<p style="margin-left:55px;" class="userData">Email: <input name="mailIn" readonly="readonly" placeholder="{{ usersList[selectedUser].email }}" style=" width:180px; border:none; box-shadow:none; -webkit-box-shadow:none; font-size:1em;"></input> *Email can't be changed</p>				
				<br/><br/>
				
				<div ng-if="editForm.phoneIn.$invalid || editForm.fnameIn.$invalid || editForm.lnameIn.$invalid" style="color:#FF4A44;">All form fields must be complete</div>

				<br/>
				<div class="transBtn">
				<a id="submitter" type="submit" style="cursor:pointer;" ng-click="editUser(changedUser)" ng-hide="editForm.phoneIn.$invalid || editForm.fnameIn.$invalid || editForm.lnameIn.$invalid">Submit    </a>
				<a style="cursor:pointer;" ui-sref="UserProfile({id: usersList[selectedUser]._id})">Cancel</a>
				</div>

				
				
			</form>

		</div>
	</div>

</div>

