<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script src="app/minimize.js"></script>
<script type="text/javascript">
	$(document).ready(function(){

		$("#clearBtn").click(function(){
			$("#realInput").click();
		});
		
		/*		
		function formChecker() {
			var w = document.forms["addForm"]["fname"].value
			var x = document.forms["addForm"]["lname"].value
			var y = document.forms["addForm"]["mailIn"].value
			var z = document.forms["addForm"]["phoneIn"].value
			if (w == "" || x == "" || y == "" || z == "" ){
				alert('All fields must be filled out');
				return false;
			}
			else{
				addNew(newUser);
			}
		} 
		*/

	});
</script>

<div ng-controller="AddUserController">
	<div  class="userInfo" style="width:60%;">

		<div class="userInfo" style="margin-left:auto;" id="usernameDiv">
			<h2 id="username">Add New User:</h2>
			<br/>
		</div>
	
		<div id="listInfo" style="display:inherit; width:85%; text-align:center; margin:auto;">
	
			<form id="addForm" style="display:table-caption; width:97%;" ng-controller="AddUserController" onsubmit="" method="post">
				<input name="fname" type="text" placeholder= "First Name" ng-model="newUser.firstName" required></input>
				<input name="lname" type="text" placeholder= "Last Name" ng-model="newUser.lastName" required></input>
				<input id="phoneIn" name="phoneIn" type="tel" placeholder= "Phone Number" ng-model="newUser.phone" pattern="^\d{3}-\d{3}-\d{4}$" required></input><br/>
				<input name="mailIn" type="email" placeholder= "Email" style="margin-left:5px;" ng-model="newUser.email" required></input>
				<input id="realInput" style="display:none;" type="reset" value="Reset" href=""/>
				<br/>
				<label for="phoneIn" style="font-size:14px;">*Phone# Format: XXX-XXX-XXXX</label><br/>
				<label for="mailIn" style="font-size:14px;">*Email Format: __@__.__</label>
				<br/><br/>
				<a type="submit"  style="cursor:pointer; margin-left:-5px;" id="submitBtn" ng-click="addNew(newUser)">Submit</a><a href=""  id="clearBtn" style="padding-left:15px;">Clear</a>
			</form>

		</div>

	</div>
</div>