<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script src="app/minimize.js"></script>

<div ng-controller="UserEditController">

	<div class="userInfo" id="usernameDiv">
		<h2 id="username">Edit User: {{ usersList[selectedUser].firstName }}</h2>
	</div>

	<div class="userInfo">
		<div id="listInfo">
			
			<form ng-controller="UserEditController">
				<p class="userData">First Name: <input placeholder= "{{ usersList[selectedUser].firstName }}" ng-model="changedUser.firstName" required></input></p>
				<p class="userData">Last Name: <input placeholder= "{{ usersList[selectedUser].lastName }}" ng-model="changedUser.lastName" required></input></p>
				<p style="margin-left:46px;" class="userData">Phone: <input type="tel" pattern="^\d{3}-\d{3}-\d{4}$" placeholder= "{{ usersList[selectedUser].phone }}" ng-model="changedUser.phone" required="required"></input></p>
				
				
				<p class="userData" style="font-size:14px; margin-left:130px;">* A users email can't be changed</p>
				<label for="phoneIn" style="font-size:14px; margin-left:130px;">* Phone# Format: XXX-XXX-XXXX</label><br/>
				<br/>
				<a id="submitter" type="submit" style="cursor:pointer; margin-left:57px;" ng-click="editUser(changedUser)">Submit</a>
				<a style="cursor:pointer; margin-left:10px;" ui-sref="UserProfile({id: usersList[selectedUser]._id})">Cancel</a>
				
				
			</form>

		</div>
	</div>

</div>

